*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.cnox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(208, 215, 222);
    background: url('./byd.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
}
.container {
    display: flex;

}
.container div{
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    border:  2px solid black;
    justify-content: center;
    display: flex;
}
img{
    width: 400px;
    border-radius: 5px;
    height: 300px;
    border:  1px solid black;
}
input{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    transition: color 0.5s, background-color 0.5s;  
}
button{
    background-color: greenyellow;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
}
button:hover{
    background-color: black;
    color: white;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
    padding: 6px;
}
.container form{
    justify-self: center;
    align-self: center;
}
h1{
    color: white;
}
input:hover{
    background-color: black;
    color: white;
    transition: color 0.5s, background-color 0.5s;
}
